<div class="module">
  <div class="plans">
    <div class="plan">
      <div class="plan__title">Free</div>
      <div class="plan__desc">
        It unlimited plan while bon in beta staging.
      </div>
    </div>

    <div class="plan">
      <div class="plan__title">Advantage</div>
      <div class="plan__desc">
        Pay only for what you need.
      </div>
      <div class="plan__price">$5 / month</div>
      <div class="plan__btn">
        <a mat-flat-button>Subscribe</a>
      </div>
    </div>
  </div>

</div>
