@import "../mixin";

.content {
  // width: 1127px;
  width: 965px;
  margin-left: auto;
  margin-right: auto;

  //@include media("only screen and (max-width: 1130px)") {
  //  width: 780px;
  //}

  @include onlyMobile {
    width: 100%;
  }

  margin-bottom: 1rem;
}

.container {
  width: 100%;
}

.ui.menu>.container, .ui.menu>.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
  -ms-flex-direction: inherit;
  flex-direction: inherit;
}

.ui.menu .item.menu-title {
  padding: 5px 10px;
}

.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto!important;
}
.ui.menu .menu {
  margin: 0;
}

.menu {
  //border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  display: flex;
  margin: 1rem 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  background: #fff;
  border-radius: .28571429rem;

  mat-icon[inline] {
    vertical-align: middle;
  }
}

.ui.menu .item {
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: 0 0;
  padding: .92857143em 1.14285714em;
  text-transform: none;
  color: rgba(0,0,0,.87);
  font-weight: 400;
  -webkit-transition: background .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
  transition: background .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
  transition: background .1s ease,box-shadow .1s ease,color .1s ease;
  transition: background .1s ease,box-shadow .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
}

.ui.menu .right.item::before, .ui.menu .right.menu>.item::before {
  right: auto;
  left: 0;
}

.ui.menu .active.item {
  background: rgba(0,0,0,.05);
  color: rgba(0,0,0,.95);
  font-weight: 400;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui.menu .item:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background: rgba(34,36,38,.1);
}


.logo {
  margin-left: 5px;
  @include onlyMobile {
    display: none;
  }
}


.menu-title__sign {
  color: #919193;
  font-size: 12px;
  font-weight: 600;

  a {
    color: #919193;
    text-decoration: none;
  }
}

.menu-title__sign img {
  display: inline;
  vertical-align: sub;
  width: 1.2em;
  height: 1.2em;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  margin-right: 3px;
}
