<div class="content">
  <div class="ui large menu" *ngIf="user$ | async as user">
    <div class="ui container">
      <a class="logo" routerLink="/"></a>
      <a class="item menu-title" routerLink="/">
        <div>
          Standups bot
          <div class="menu-title__sign">
            <a (click)="$event.stopPropagation()" [href]="'https://' + user?.workspace?.domain + '.slack.com'" target="_blank">
              <img [src]="user.workspace.slackData.icon.image_34"/>
            </a>
            for {{ user?.workspace?.domain }}.slack.com
          </div>
        </div>
      </a>
      <a class="item" routerLink="/" routerLinkActive #rla3="routerLinkActive" [class.active]="rla3.isActive && rla3.routerLinkActiveOptions.exact">
        Teams
      </a>

      <div class="right menu">
<!--        <a class="item" routerLink="/team/create" routerLinkActive #rla="routerLinkActive" [class.active]="rla.isActive">-->
<!--          <mat-icon inline>360</mat-icon> Create review 360-->
<!--        </a>-->
        <a class="item" routerLink="/team/create" routerLinkActive #rla="routerLinkActive" [class.active]="rla.isActive">
          <mat-icon inline>add_circle</mat-icon> Create team
        </a>
        <a class="item" routerLink="/settings" routerLinkActive #rla2="routerLinkActive" [class.active]="rla2.isActive">
          <mat-icon inline>settings</mat-icon> Settings
        </a>
<!--        <a class="item disabled" routerLink="/archive" routerLinkActive #rla2="routerLinkActive" [class.active]="rla2.isActive">-->
<!--          <mat-icon inline>support</mat-icon> Support-->
<!--        </a>-->

        <a class="item" href="#" (click)="$event.preventDefault(); logout()">Logout</a></div>
    </div>
  </div>

  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

<ng-template #error502>
  <!--TODO use -->
  <div>
    Sorry, something going wrong. Support in <a href='https://t.me/{{ supportTelegram }}'>telegram</a>
  </div>
</ng-template>
