<div class="content">
  <div class="ui large menu">
    <div class="ui container">
      <a href="/" class="logo"></a>
      <a class="item menu-title" href="/">
      <div>
        Standups
        <div class="menu-title__sign">
          <img src="https://a.slack-edge.com/80588/img/avatars-teams/ava_0025-34.png">for botenza.slack.com
        </div>
      </div>
      </a>
      <div class="right menu"><a class="item" routerLink="/team/create"><i class="icon plus"></i>Create standup</a><a class="item disabled" href="#"><i class="icon archive"></i>Archive</a><a class="item" href="/logout"><i class="icon sign-out"></i>Log out</a></div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
