extends main

block content
    .content
        .ui.large.menu
            .ui.container
                a.logo(href="/" class= {'active': activeMenu === 'reports'})
                a.item.menu-title(href="/" class= {'active': activeMenu === 'reports'})
                    div
                        | Standups
                        .menu-title__sign
                            if team.slackData && team.slackData.icon.image_34
                                img(src= team.slackData.icon.image_34)
                            = 'for ' + team.domain + '.slack.com'
                    //a.item(href="/channels" class= {'active': activeMenu === 'channels'})
                        | Channels
                a.item#sync-link(href="/sync", class=syncInProgress ? 'disabled' : '')
                    i.icon.sync.alternate
                    if syncInProgress
                        | Sync slack api in progress
                    else
                        | Sync from slack api
                .right.menu
                    if channel && team.enableChannels.length
                        form.item.ui.mini.form(action="/channel/selected", method="POST")
                            select.dropdown#selectChannel(name="id", placeholder="Select channel")
                                each ch in team.enableChannels
                                    option(value=ch.id, selected=ch.id === channel.id)= ch.name
                        a.item(href="/settings" class= {'active': activeMenu === 'settings'})
                            i.icon.cog
                            | Settings
                    a.item(href="/logout")
                        i.icon.sign-out
                        | Log out

        block authorized_content

block append scripts
    script.
      $('#selectChannel').on('change', function () {
        if (this.value) {
          $(this).closest('form').submit();
        }
      })
      $('#sync-link').click(function () {
        this.classList.add('active')
      })

      var syncInProgress = !{ syncInProgress }
      if (syncInProgress) {
        // interval update
      }