extends main

block content
    .content
        .ui.large.menu
            .ui.container
                a.logo(href="/" class= {'active': activeMenu === 'reports'})
                a.item.menu-title(href="/" class= {'active': activeMenu === 'reports'})
                    div
                        | Standups
                        .menu-title__sign
                            if user.team.slackData && user.team.slackData.icon.image_34
                                img(src= user.team.slackData.icon.image_34)
                            = 'for ' + user.team.domain + '.slack.com'
                    //a.item(href="/channels" class= {'active': activeMenu === 'channels'})
                        | Channels
                //a.item#sync-link(href="/sync", class=syncInProgress ? 'disabled' : '')
                    i.icon.sync.alternate
                    if syncInProgress
                        | Sync slack api in progress
                    else
                        | Sync from slack api
                .right.menu
                    if user.team.enableChannels.length
                        form.item.ui.mini.form.select-channel-item(action="/channel/selected", method="POST")
                            select.dropdown#selectChannel(name="id", placeholder="Select channel")
                                each ch in user.team.enableChannels
                                    option(value=ch.id, selected=channel && ch.id === channel.id)= ch.name
                        a.item(href="/settings" class= {'active': activeMenu === 'settings'})
                            i.icon.cog
                            | Settings
                    a.item(href="#").disabled
                        i.icon.archive
                        | Archive
                    a.item(href="/logout")
                        i.icon.sign-out
                        | Log out

        block authorized_content

block append scripts
    script.
      $('#selectChannel')
        .dropdown({fullTextSearch: true})
        .on('change', function () {
          if (this.value) {
            $(this).closest('form').submit();
          }
        })
      $('#sync-link').click(function () {
        this.classList.add('active')
      })

      var syncInProgress = !{ syncInProgress }
      if (syncInProgress) {
        // interval update
      }
