<div class="stand-up-list" *appAsync="response$; placeholder: true; let response">
  <div *ngFor="let standup of response.standups | paginate: {itemsPerPage: itemsPerPage, currentPage: page, totalItems: response.total}" class="stand-up">
    <div class="stand-up__header">
      {{ standup.startAt|date }}
<!--      if !standUp.isFinished()-->
<!--      a.ui.teal.label= 'In progress'-->
    </div>
    <div class="stand-up__content">
      <div *ngFor="let user of standup.users" class="stand-up-item">
        <div *ngIf="user.questions.length === 0">No answers 🐥</div>

        <div class="stand-up-item__results">
          <div *ngFor="let question of user.questions; let index = index" class="stand-up-item__result" [class]="'stand-up-item__result--' + index">
            <div class="stand-up-item__question">{{ question.questionText }}</div>
            <div class="stand-up-item__answer" *ngIf="question.answerOptionId">
              <div *ngFor="let option of question.options" [class.active]="option.optionId === question.answerOptionId">{{ option.optionText }}</div>
            </div>
            <div class="stand-up-item__answer">
              <div class="active">{{ question.answerMessage }}</div>
            </div>
          </div>
        </div>

        <div class="stand-up-item__content">
          <img [src]="user.userImage"/>
          <div class="stand-up-item__name"> {{ user.userName }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="module no-data" *ngIf="response.standups.length === 0">
    No meetings 🐥
  </div>


  <pagination-template class="ui pagination menu" *ngIf="response.total > 0" #p="paginationApi" (pageChange)="page = $event; pageChanged($event)">
    <a class="item pagination-previous" [class.disabled]="p.isFirstPage()" *ngIf="!p.isFirstPage()" (click)="p.previous()">
      <mat-icon inline>navigate_before</mat-icon>
    </a>

    <ng-container *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
      <a class="item" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
        {{ page.label }}
      </a>
      <div class="item active" *ngIf="p.getCurrent() === page.value">
        {{ page.label }}
      </div>
    </ng-container>

    <a class="item pagination-next" [class.disabled]="p.isLastPage()" *ngIf="!p.isLastPage()" (click)="p.next()">
      <mat-icon inline>navigate_next</mat-icon>
    </a>
  </pagination-template>
</div>
