<form [formGroup]="form">
  <div class="section">
    <mat-form-field appearance="outline" class="name">
      <mat-label>Name</mat-label>
      <input matInput autocomplete="off" formControlName="name"/>
      <mat-error>{{ form.get('name').errors }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="timezone">
      <mat-label>Locale timezone</mat-label>
      <mat-select formControlName="timezone" [compareWith]="compareWithById">
        <mat-option *ngFor="let timezone of (timezones$ | async)" [value]="timezone">{{ timezone | formatTimezone }}</mat-option>
      </mat-select>
      <mat-error>{{ form.get('timezone').errors }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="start-at">
      <mat-label>Start meeting (locale time)</mat-label>
      <input matInput autocomplete="off" type="time" step="60" formControlName="start"/>
      <mat-error>{{ form.get('start').errors }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="duration">
      <mat-label>Duration</mat-label>
      <input matInput autocomplete="off" formControlName="duration"/>
      <mat-error>{{ form.get('duration').errors }}</mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" class="users">
      <mat-label>Participants</mat-label>
      <input [matChipInputFor]="chipList">
      <mat-chip-list formControlName="users" #chipList>
        <mat-chip *ngFor="let user of (users$ | async)" [value]="user">
          <img [src]="user.profile.image_24"/>
          {{ user.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <mat-error>{{ form.get('users').errors }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="channel">
      <mat-label>Report channel</mat-label>
      <mat-select formControlName="reportChannel" [compareWith]="compareWithById">
        <mat-option *ngFor="let channel of (channels$ | async)" [value]="channel">{{ channel.name }}</mat-option>
      </mat-select>
      <mat-error>{{ form.get('reportChannel').errors }}</mat-error>
    </mat-form-field>

    <button class="save" color="primary" mat-flat-button [class.loading]="submitting" (click)="submit()">
      <i class="icon save"></i> Save
    </button>
  </div>


  <div class="section2">
    <ng-container *ngFor="let questionControl of questionsControl.controls; let qIndex = index">
      <mat-form-field appearance="outline" class="question">
        <mat-label>#{{ qIndex + 1 }}</mat-label>
        <input matInput autocomplete="off" [formControl]="questionControl.get('text')"/>
<!--        autocomplete-->
        <button *ngIf="questionControl.get('options').length === 0" title="Add options" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="addOption(questionControl.get('options'))">
          <mat-icon>rule</mat-icon>
        </button>
        <button type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="remove(qIndex)">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-error>{{ questionControl.errors }}</mat-error>
        <mat-hint *ngIf="questionControl.get('text').dirty && questionControl.value.id">Be know Already exist question is changed. it would be effected charts</mat-hint>
      </mat-form-field>

      <div class="question-options">
        <mat-form-field appearance="outline" *ngFor="let option of questionControl.get('options').controls; let index = index" class="sm">
          <!--<mat-label>Question</mat-label>-->
          <input matInput autocomplete="off" [formControl]="option.get('text')"/>
          <button type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="removeOption(questionControl.get('options'), index)">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-error>{{ questionControl.errors }}</mat-error>
        </mat-form-field>


        <button *ngIf="questionControl.get('options').length > 0" type="button" class="add-option" color="primary" mat-flat-button (click)="addOption(questionControl.get('options'))">
          <i class="icon save"></i> Add option
        </button>
      </div>

    </ng-container>

    <button type="button" class="add-question" color="primary" mat-flat-button (click)="add()">
      <i class="icon save"></i> Add question
    </button>
  </div>
</form>
