@import "../../../../mixin";

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;

  @include onlyMobile {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template:
    "name name"
    "timezone timezone"
    "start-at duration"
    "users users"
    "channel channel"
;

  @include onlyMobile {
    grid-template-columns: 1fr;
    grid-template: initial;
  }

  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.name {
  grid-area: name;
}

.add-option {
  width: 100%;
  line-height: 28px;
}

.options {
  padding-left: 35px;
  padding-bottom: 0;
  box-sizing: border-box;
}

.timezone {
  grid-area: timezone;
}

.start-at {
  grid-area: start-at;
}

.duration {
  grid-area: duration;
}
.users {
  grid-area: users;
}

.channel {
  grid-area: channel;
}

ng-select {
  width: 100%;
}

.section2 {
  mat-form-field {
    width: 100%;
  }

  //  display: grid;
  //  grid-template-columns: 1fr 1fr;
  //  grid-template:
  //    "report report"
  //;
  //
  //  grid-column-gap: 20px;
}
//
//.report {
//  grid-area: report;
//}

[contenteditable] {
  outline: none
}

.option-actions {
  font-size: 18px;
  mat-icon {
    margin-left: 8px;
    opacity: .4;
  }
}

.cdk-drag-handle {
  cursor: grab;
}

.question-item {
  width: 100%;
}

.user-pic {
  border-radius: 9px;
  margin-right: 8px;
}

.user-chip-list {
  .mat-chip::ng-deep {
    box-shadow: unset !important;
  }
}
.mat-standard-chip::ng-deep {
  // margin: 0 4px !important;
  padding-top: 3px !important;
  padding-bottom: 4px !important;
  padding-right: 7px !important;
  padding-left: 10px !important;
}

.add-question {
  width: 100%;
}
.submit {
  line-height: 51px;
  width: 100%;
  font-size: 20px;
}


