@import "../../../../mixin";

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;

  @include onlyMobile {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.section {
  display: flex;
  flex-direction: column;
  > div:first-child {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas:
    "name name name"
    "days days days"
    "start-at timezone duration"
    "users users users"
    "channel channel channel"
  }

;

  @include onlyMobile {
    grid-template-columns: 1fr;
    grid-template: initial;
  }

  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.name {
  grid-area: name;
}

.add-option {
  width: 100%;
  line-height: 28px;
}

.options {
  padding-left: 35px;
  padding-bottom: 0;
  box-sizing: border-box;
}
.days {
  grid-area: days;
  position: relative;

  mat-error {
    font-size: 11px;
    position: absolute;
    left: 10px;
  }
  margin-bottom: calc(18.814px + 3.5px);
}

.checkbox-list {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 5px;
  padding: 14px 12px;

  @include onlyMobile {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &.ng-invalid.ng-touched {
    color: rgb(244, 67, 54);
    border-color: rgb(244, 67, 54);
    border-width: 2px;
    padding: 13px 11px;
    mat-label {
      color: rgb(244, 67, 54);
    }
  }

  position: relative;
  mat-label {
    position: absolute;
    top: -4px;
    line-height: 7px;
    color: rgba(0,0,0,.6);
    font-size: 11px;
    background-color: white;
    padding: 0 6px;
    left: 6px;
  }

  > mat-checkbox {
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.timezone {
  grid-area: timezone;
}

.start-at {
  grid-area: start-at;
}

.duration {
  grid-area: duration;
}
.users {
  grid-area: users;
}

.channel {
  grid-area: channel;
}

ng-select {
  width: 100%;
}

.section2 {
  mat-form-field {
    width: 100%;
  }

  //  display: grid;
  //  grid-template-columns: 1fr 1fr;
  //  grid-template:
  //    "report report"
  //;
  //
  //  grid-column-gap: 20px;
}
//
//.report {
//  grid-area: report;
//}

[contenteditable] {
  outline: none
}

.option-actions {
  font-size: 18px;
  mat-icon {
    margin-left: 8px;
    opacity: .4;
  }
}

.cdk-drag-handle {
  cursor: grab;
}

.question-item {
  width: 100%;
}

.user-pic {
  border-radius: 6px;
  margin-right: 8px;
  height: 34px;
  width: 34px;
  max-height: 34px;
  max-width: 34px;
}

.user-name {
  align-self: flex-start;
  margin-top: 7px;
}

.mat-autocomplete-panel.mat-autocomplete-visible::ng-deep {
  padding-top: 5px;
  padding-bottom: 5px;
}


.user-chip-list {
  .mat-chip::ng-deep {
    box-shadow: unset !important;
  }
}

.mat-standard-chip.edit { // TODO use custom
  &:hover:after::ng-deep {
    opacity: 0!important;
  }
}
.mat-chip.edit::ng-deep {
  border: 1px solid gray!important;
  background-color: white!important;

  &:hover::ng-deep {
    background-color: white!important;
  }
}

:host .mat-standard-chip::ng-deep {
  // margin: 0 4px !important;
  padding-top: 3px !important;
  padding-bottom: 4px !important;
  padding-right: 7px !important;
  padding-left: 10px !important;
  height: auto !important;
}



.add-question {
  width: 100%;
}
.submit {
  line-height: 51px;
  width: 100%;
  font-size: 20px;

  @include onlyMobile {
    margin-top: 15px;
  }
}


