<form [formGroup]="form">
  <div>
    <div class="section">
      <mat-form-field appearance="outline" class="name">
        <mat-label>Name</mat-label>
        <input matInput autocomplete="off" formControlName="name"/>
        <mat-error>{{ form.get('name').errors }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="timezone">
        <mat-label>Locale timezone</mat-label>
        <mat-select formControlName="timezone" [compareWith]="compareWithById">
          <mat-option *ngFor="let timezone of (timezones$ | async)" [value]="timezone">{{ timezone | formatTimezone }}</mat-option>
        </mat-select>
        <mat-error>{{ form.get('timezone').errors }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="start-at">
        <mat-label>Start meeting (locale time)</mat-label>
        <input matInput autocomplete="off" type="time" step="60" formControlName="start"/>
        <mat-error>{{ form.get('start').errors }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="duration">
        <mat-label>Duration</mat-label>
        <input matInput autocomplete="off" formControlName="duration"/>
        <mat-error>{{ form.get('duration').errors }}</mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" class="users">
        <mat-label>Respondents</mat-label>

        <mat-chip-list class="user-chip-list" formControlName="users" [compareWith]="compareWithById" #chipList>
          <div>
            <mat-chip
              *ngFor="let user of usersControl.value"
              [selected]="false" removable
              (removed)="remove(usersControl, $event.chip.value)"
              disableRipple
            >
            <img class="user-pic" [src]="user.profile.image_24"/>
              {{ user.name }}
              <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          </div>
          <input
            placeholder="Search user..."
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"/>
        </mat-chip-list>

        <mat-autocomplete class="users" #auto="matAutocomplete" (optionSelected)="usersControl.value.push($event.option.value);">
          <mat-option *ngFor="let user of (autocompleteUsers$ | async)" [value]="user">
            <img class="user-pic" [src]="user.profile.image_24"/>
            {{ user.name }}
          </mat-option>
        </mat-autocomplete>

        <mat-error>{{ usersControl.errors }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="channel">
        <mat-label>Report channel</mat-label>
        <mat-select formControlName="reportChannel" [compareWith]="compareWithById">
          <mat-option *ngFor="let channel of (channels$ | async)" [value]="channel">{{ channel.name }}</mat-option>
        </mat-select>
        <mat-error>{{ form.get('reportChannel').errors }}</mat-error>
      </mat-form-field>
    </div>

    <button class="submit" color="primary" mat-flat-button [class.loading]="submitting" (click)="submit()">
      <i class="icon save"></i> Save settings
    </button>
  </div>


  <div class="section2">
    <div cdkDropList  (cdkDropListDropped)="drop(questionsControl, $event)">
      <div *ngFor="let questionControl of questionsControl.controls; let qIndex = index" class="question-item" cdkDrag>
        <mat-form-field appearance="outline" class="question">
          <mat-label>#{{ qIndex + 1 }}</mat-label>
          <input matInput autocomplete="off" [formControl]="questionControl.get('text')"/>
          <button *ngIf="!(questionControl.get('options').length > 0 || openOptionsControls.includes(questionControl))"
                  title="Add options"
                  type="button"
                  mat-button
                  matSuffix mat-icon-button aria-label="Clear"
                  (click)="openOptionsControls.push(questionControl)"
          >
            <mat-icon>rule</mat-icon>
          </button>
          <button type="button" mat-button matSuffix mat-icon-button aria-label="Drag" cdkDragHandle>
            <mat-icon>drag_indicator</mat-icon>
          </button>
          <button type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="questionsControl.removeAt(qIndex)">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-error>{{ questionControl.get('text').getError('custom') }}</mat-error>
<!--          <mat-hint *ngIf="true">-->
<!--            <mat-icon>update</mat-icon>-->
<!--            <mat-icon>help</mat-icon>-->
<!--            <mat-icon>warning</mat-icon>-->
<!--            We updated existed question. Which already have answer.-->
<!--          </mat-hint>-->
          <mat-hint *ngIf="questionControl.get('text').dirty && questionControl.valid && questionControl.value.id">
            Be know Already exist question is changed. it would be effected charts
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="options" *ngIf="questionControl.get('options').length > 0 || openOptionsControls.includes(questionControl)">
          <mat-label>Options (Pass enter)</mat-label>
          <mat-chip-list #optionList>
            <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop(questionControl.get('options'), $event)">
              <mat-chip
                *ngFor="let option of questionControl.get('options').controls; let optionIndex = index"
                cdkDrag
                removable
                disableRipple
                [selected]="false"
                (removed)="questionControl.get('options').removeAt(optionIndex);"
              >
                <div #optionText contenteditable="true" [formControl]="option.get('text')"></div>
                <div class="option-actions">
                  <mat-icon (click)="focus(optionText)" inline>edit</mat-icon>
                  <mat-icon cdkDragHandle inline>drag_indicator</mat-icon>
                  <mat-icon matChipRemove>cancel</mat-icon>
                </div>
              </mat-chip>
            </div>
            <input
              placeholder="New option..."
              (focus)="focusQuestion(questionControl.get('id').value)"
              [matChipInputFor]="optionList"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="addOption(questionControl.get('options'), $event)"
            />

            <button type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="questionControl.get('options').clear(); openOptionsControls.splice(openOptionsControls.indexOf(questionControl), 1)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-chip-list>

          <mat-error>{{ questionControl.get('options').getError('custom') }}</mat-error>
        </mat-form-field>

        <mat-error>{{ questionControl.getError('custom') }}</mat-error>
      </div>
    </div>
    <button type="button" class="add-question" color="primary" mat-flat-button [disabled]="submit$ | async" (click)="add()">
      <i class="icon save"></i> Add question
    </button>
    <mat-error>{{ questionsControl.getError('custom') }}</mat-error>

  </div>
</form>

<ng-template>
  <input matAutocomplete]="optionsAutocomplete"/>
  <mat-autocomplete #optionsAutocomplete="matAutocomplete" (optionSelected)="usersControl.value.push($event.option.value);">
    <mat-option *ngFor="let user of (autocompleteOptions$ | async)" [value]="user">
      <img [src]="user.profile.image_24"/>
      {{ user.name }}
    </mat-option>
  </mat-autocomplete>
</ng-template>
