.content {
    margin-top: 75px;
    width: 1127px;
    margin-left: auto;
    margin-right: auto;
}

.item.item--logo {
    padding: 0;
}

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /* https://www.flaticon.com/free-icon/robot_270137 */
    background-image: url("/robot.png");
    width: 50px;
}

.logo.active {
    background-color: rgba(0,0,0,.05);
}

.auth-block {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

.auth-block__title {
    margin-bottom: 10px;
}

.auth-block .logo {
    height: 50px;
    margin: 0 auto 10px auto;
}

.menu-title {
    padding: 12px;
}
.menu-title__sign {
    color: #919193;
    font-weight: 500;
    font-size: 13px;
}


.stand-up {
    padding-bottom: 20px;
    border-bottom: #cfd5da solid 1px;
}
.stand-up:last-child {
    border-bottom: none;
}

.stand-up__date {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}


.stand-up-item {
    display: flex;
}

.stand-up-item {
    margin-bottom: 25px;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.stand-up-item__image {
    width: 48px;
    height: 48px;
    border-radius: 12px;
}

.stand-up-item__content {
    margin-left: 20px;
}

.stand-up-item__name {
    font-weight: bold;
    font-size: 16px;

    margin-bottom: 15px;
}

.stand-up-item__question-answer {
    margin-left: 20px;
    margin-bottom: 12px;
    padding-left: 12px;
    border-left: 4px solid;
}
/* https://semantic-ui.com/usage/theming.html*/
.stand-up-item__question-answer--0 {
    border-left-color: #00a6a6;
}
.stand-up-item__question-answer--1 {
    border-left-color: #0E6EB8;
}
.stand-up-item__question-answer--2 {
    border-left-color: #EE82EE;
}

.stand-up-item__question-answer--3 {
    border-left-color: #016936;
}

.stand-up-item__question-answer:last-child {
    margin-bottom: 0;
}

.stand-up-item__question {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 7px;
}

.stand-up-item__answer {
    font-size: 16px;
    margin-left: 15px;
}

.menu .item:hover > .icon {
    animation: icon-loading 2s linear infinite;
}
.menu .item.active > .icon {
    animation: icon-loading .5s linear infinite;
}



