<form class="ui form two column large screen only row" [formGroup]="form">
  <div class="ui column">
    <h3 class="ui header">Stan-up settings</h3>

    <div class="field" [class.error]="form.get('name').touched && form.get('name').invalid">
      <label>Name</label>
      <div class="ui input large">
        <input class="form-control" formControlName="name"/>
      </div>
    </div>

    <div class="field" [class.error]="form.get('timezone').touched && form.get('timezone').invalid">
      <label>Locale timezone</label>
      <div class="ui input large">
        <input class="form-control" formControlName="timezone"/>
      </div>
    </div>

    <div class="ui fields two">
      <div class="field" [class.error]="form.get('startAt').touched && form.get('startAt').invalid">
        <label>Start meeting (locale time)</label>
        <div class="ui input large">
          <input class="form-control" type="time" step="60" formControlName="startAt"/>
        </div>
      </div>

      <div class="field" [class.error]="form.get('duration').touched && form.get('duration').invalid">
        <label>Duration</label>
        <div class="ui input large">
          <input class="form-control" formControlName="duration"/>
        </div>
      </div>
    </div>


    <div class="field" [class.error]="form.get('users').touched && form.get('users').invalid">
      <label>Participants</label>
      <div class="ui input large">
        <select class="form-control" formControlName="users" multiple="multiple">
          <option *ngFor="let user of (users$ | async)" [value]="user">{{ user.name }}</option>
        </select>
      </div>
    </div>

    <div class="field" [class.error]="form.get('reportChannel').touched && form.get('reportChannel').invalid">
      <label>Report channel</label>
      <div class="ui input large">
        <input class="form-control" formControlName="reportChannel"/>
      </div>
    </div>

    <button class="ui large button fluid positive" [class.loading]="submitting" (click)="submit()">
      <i class="icon save"></i> Save
    </button>
  </div>


  <div class="ui column">
    <h3 class="ui header">.</h3>

    <div class="field">
      <label>Questions</label>
    </div>

    <div>
      <div class="ui action left icon input large">
        <input class="form-control"/>
        <div class="ui icon button teal" title="Add options" (click)="addOption()">
          <i class="icon list ol"></i>
        </div>
        <div class="ui icon button" (click)="remove()">
          <i class="icon trash"></i>
        </div>
      </div>
      <div class="question-options">
        <div *ngFor="let option of options">
          <div class=" ui input action mini">
            <input class="form-control" required minlength=2/>
            <div class="ui icon button" (click)="removeOption(option)">
              <i class="icon trash"></i>
            </div>
          </div>
        </div>

        <div>
          <button class="mini ui button teal fluid" (click)="addOption()">
            <i class="icon add"></i>
            Add option
          </button>
        </div>
      </div>
    </div>

    <div class="field">
      <a class="ui button large blue fluid" (click)="add()">
        <i class="icon add"></i> Add question
      </a>
    </div>


  </div>
</form>
