@import "../../../mixin";

.users {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    padding-left: 30px;
  }

  &__count {
    white-space: nowrap;
    font-weight: 500;
    margin-right: 7px;
  }

  &__item {
    margin-left: -21px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 2px white solid
  }
}

.team {
  @include card;
  @include clearfix;

  cursor: pointer;

  &--disabled {
    opacity: 0.3;
    a {
      pointer-events: none;
      cursor: default;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    span {
      font-weight: normal;
      font-size: 18px;
      color: initial;
      margin-left: 10px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    flex-grow: 1;
    & > div {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__time {
    font-size: 16px;
    font-weight: bold;
  }

  &__actions {
    align-self: flex-end;
    button {
      line-height: 30px;
      margin-left: 12px;
    }
    mat-icon {
      font-size: 20px;
    }
  }

  &__users {
    margin-right: 60px;
  }

  &__created {
    font-size: 16px;
  }

  margin-bottom: 18px;
}

