<div class="team-list" *appAsync="teams$; placeholder: true; let teams">
  <div *ngIf="teams.length === 0" class="no-stand-ups">No teams🐥<i class="icon bee"></i></div>

  <div *ngFor="let team of teams" class="team" [routerLink]="'/team/' + team.id + '/standups'" [class.team--disabled]="team.status !== 1">
    <div class="team__header">
      <a class="team__title">{{ team.name }}</a>
      <div class="ui toggle checkbox">
        <mat-slide-toggle [checked]="team.status === 1" (change)="toggle($event, team)" title="Activate"></mat-slide-toggle>
      </div>
    </div>
    <div class="team__content">
      <div class="team__desc desc">
        <div class="desc__time"><mat-icon>schedule</mat-icon>{{ team.start }}.</div>
        <div>(duration {{ team.duration }} minutes)</div>
<!--        <img [src]="team.createdBy.profile.image_24"/>-->
<!--        <div>{{ team.createdBy.name }}</div>-->
<!--          {{ team.questions.length }} questions-->
      </div>
      <div class="team__users users">
        <div class="users__count">{{ team.users?.length }} respondents</div>

        <div class="users__list">
          <img *ngFor="let user of team.users" class="users__item" [src]="user.profile.image_24"/>
        </div>

      </div>

      <div class="team__actions">
        <button mat-flat-button color="accent" title="charts"  [routerLink]="'/team/' + team.id + '/stat'">
          <mat-icon>insights</mat-icon>
        </button>
        <button mat-flat-button color="primary" title="settings"  [routerLink]="'/team/' + team.id + '/edit'">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-flat-button title="achieve" color="warn" (click)="$event.stopPropagation(); achieve(team)">
          <mat-icon>restore_from_trash</mat-icon>
        </button>
      </div>
    </div>

  </div>
</div>

