<div *ngIf="(teams$ | async)?.length === 0" class="no-stand-ups">No teams🐥<i class="icon bee"></i></div>

<div class="team-list">
  <div *ngFor="let team of (teams$ | async)" class="team" [routerLink]="'/team/' + team.id + '/standups'" [class.team--disabled]="!team.isEnabled">
    <div class="team__header">
      <a class="team__title">
        {{team.name}}
        <span>{{ "(" + team.users?.length +  " participants)" }}</span>
      </a>
      <div class="ui toggle checkbox">
        <mat-slide-toggle [checked]="team.isEnabled" (change)="toggle($event, team)" title="Activate"></mat-slide-toggle>
      </div>
    </div>
    <div class="team__content">
      <div class="team__info">
        <div class="team__time">
          <i class="icon clock outline"></i>
          TODO
        </div>
        <div class="team__created">
          <i class="icon pencil alternate"></i>
          TODO
        </div>
      </div>
      <div class="team__users">
        <img *ngFor="let user of team.users" class="team__user" [src]="user.profile.image_48"/>
      </div>
    </div>
    <div class="team__actions">
      <button class="save" color="primary" mat-flat-button [routerLink]="'/team/' + team.id + '/edit'">
        <i class="icon save"></i> Edit settings
      </button>
    </div>
  </div>
</div>

