extends layout/authorized_main

block authorized_content
    .activate-bot-block
        .alert.alert--primary
            div= "Activate bot for your meeting channel"
            code
                | /invite
                a= " @daily_standup"

    if user.team.enableChannels.length
        form.row.auth-block.field(action="/channel/selected", method="POST")
           select#selectChannel(name="id")
               each channel in user.team.enableChannels
                   option(value=channel.id)= channel.name
    else
        .no-meetings No meeting channel 🐥

block append scripts
    script.
      $('#selectChannel').dropdown({
        clearable: true,
        placeholder: 'Select activated channel'
      }).dropdown('clear')
      $('#sync-link').click(function () {
        this.classList.add('active')
      })
