extends layout/authorized_main

block authorized_content
    if team.enableChannels.length
        form.row.auth-block.field(action="/channel/selected", method="POST")
           select#selectChannel(name="id")
               each channel in team.enableChannels
                   option(value=channel.id)= channel.name
    else
        div
            | No meeting channel
        div
            | Use "/invite @daily_standup" for your meeting channel
block append scripts
    script.
      $('#selectChannel').dropdown({
        clearable: true,
        placeholder: 'Select channel'
      }).dropdown('clear')
      $('#sync-link').click(function () {
        this.classList.add('active')
      })
