extends layout/main

block content
    .row.welcome
        .logo
        .welcome__title Standup Bot
        a(class="ui secondary basic button", href=authLink)
            i.icon.color-slack.large
            b= "Add to Slack"
        a(class="ui secondary basic button", href="https://github.com/botenza", target="_blank")
            i.icon.github.large
            ="github"
block append scripts
    script.
        // const authLink$ = $('#auth-link')
        // authLink$.attr('href', authLink$.attr('href') + '&redirect_uri=' + document.location.href)
