extends layout.pug

block dashboard_content
    div.row
        div.col
            h4= 'Reports'
            each question in questions
                div.rounded.bg-light.border.row
                    div.col
                        img(src= userList[question.user_channel].profile.image_72).img-thumbnail
                        span= userList[question.user_channel].profile.real_name + ' (' + userList[question.user_channel].name + ')'
                    div.col
                        span= questionList[question.index]
                        span= question.answer
