extends ../layout/main.pug

block content
    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link active" href="/dashboard">Standups</a>
        <a class="nav-item nav-link" href="/dashboard/settings">User settings</a>
        <a class="nav-item nav-link disabled" href="#">Team settings</a>
    </nav>

    block dashboard_content


