extends ../layout/main.pug

block content
    nav.nav.nav-pills.nav-fill
        a.nav-item.nav-link(href="/dashboard" class= {'active': activeMenu === 'reports' })= 'Reports'
        a.nav-item.nav-link(href="/dashboard/settings" class= {'active': activeMenu === 'settings' })= 'User settings'

    block dashboard_content


