export default {
  slackClientID: '',
  slackSecret: '',
  slackSigningSecret: '',
  host: '',
  botUserOAuthAccessToken: '',
  debug: false,
  db: {
    database: 'standup',
    username: 'standupbot',
    password: 'asdfio23j921kjlssl',
  }
}
