.welcome {
  text-align: center;
  padding: 20px 15px;

  &__title {
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  &__desc {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .logo {
    height: 120px;
    width: 120px;
    margin: 0 auto 10px auto;
  }
}
