.welcome {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}

.welcome__title {
  font-size: 35px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 50px;
}

.welcome .logo {
  height: 50px;
  margin: 0 auto 10px auto;
}
