@import "../../../mixin";

.users {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    padding-left: 14px;
  }

  &__count {
    white-space: nowrap;
    font-weight: 600;
    margin-right: 7px;
    @include onlyMobile {
      display: none;
    }
  }

  &__item {
    margin-left: -14px;
    width: 26px;
    height: 26px;
    border-radius: 16px;
    border: 2px white solid
  }
}

.desc {
  display: flex;
  align-items: center;

  @include onlyMobile {
    flex-direction: column;
    align-items: flex-start;
  }

  &__time {
    display: flex;
    align-items: center;
    font-weight: 600;
    mat-icon {
      margin-right: 5px;
    }
  }
  > * {
    margin-right: 8px;
  }
  img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }
}

:host {
  display: block;
  @include card;
  @include clearfix;

  padding: 16px 20px;
}

.team {
  &--disabled {
    opacity: 0.3;
    a {
      pointer-events: none;
      cursor: default;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 7px;
  }

  &__title {
    font-size: 20px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__desc {
    flex-grow: 1;
  }

  &__actions {
    align-self: flex-end;

    @include onlyMobile {
      display: flex;
      flex-direction: column;
    }

    button {
      line-height: 30px;
      margin-left: 12px;
      @include onlyMobile {
        margin-left: 0;
        margin-top: 5px;
      }
    }
    mat-icon {
      font-size: 20px;
    }
  }

  &__users {
    margin-right: 30px;
    @include onlyMobile {
      display: none;
    }
  }

  &__created {
    font-size: 16px;
  }
}
